*#
*.iml
*.ipr
*.iws
*.pyc
*.tm.epoch
*.vim
*-shim.sbt
.idea/
/project/plugins/project
project/boot
docker/zk-single-kafka-single
target/
graph-cache/
journal/
snapshots/
/logs
.cache
.classpath
.project
.settings
